.display-card {
  display: grid;
  align-items: center;
  height: fit-content;
  width: 600px;
  grid-template-areas:
    "subject subject endYear"
    "uniName uniName uniName"
    "notes notes  notes";
}

.display-notes {
  grid-area: notes;
}
.display-subject {
  grid-area: subject;
  text-transform: capitalize;
}
.display-uniName {
  grid-area: uniName;
  text-transform: capitalize;
}
.display-endYear {
  grid-area: endYear;
}
